DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_HOST=postgres-api-lost
DB_PORT=5432
DB_NAME=dbLost
DB_USER=postgres
DB_PASS=123456


AWS_S3_ACCESS_KEY_ID=yJpblGxHwi4ZhCrkeS9W
AWS_S3_SECRET_ACCESS_KEY=G3ozx5xtEqGAGi3VdsQGKGHxuwqSJDTn38vEUEREQweQ
AWS_STORAGE_BUCKET_NAME=media-cache
AWS_S3_ENDPOINT_URL=http://localhost:9000