DB_ENGINE=django.db.backends.postgresql_psycopg2
% DB_HOST=postgres-api-lost
DB_HOST=localhost
% DB_PORT=5432
DB_PORT=5432
DB_NAME=db_lost
DB_USER=postgres
DB_PASS=fpf2023


AWS_S3_ACCESS_KEY_ID=GWOG4ftVtHfTpsI0wQIc
AWS_S3_SECRET_ACCESS_KEY=Jwc8DgDvov8f0cwTb3PYsYgEJxBOTSwvrGA4MNec
AWS_STORAGE_BUCKET_NAME=media-cache
AWS_S3_ENDPOINT_URL=http://localhost:9000