DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_HOST=localhost
DB_PORT=9999
DB_NAME=dbLost
DB_USER=postgres
DB_PASS=123456


AWS_S3_ACCESS_KEY_ID=h0cGmYzYFcudZwA7zKNw
AWS_S3_SECRET_ACCESS_KEY=OTlnM9SQtB7gYOLx0l8mxcDB0Lj4jUGaZCTa3NOz
AWS_STORAGE_BUCKET_NAME=media-cache
AWS_S3_ENDPOINT_URL=http://localhost:9000